@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #F5F5F5;
}
a{
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  color:  inherit;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: #fff;
  font-size: 16px;
  color: #212121;
  border-radius: 30px;
  padding: 14px 25px;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn img{
  width: 25px;
  margin: 5px 15px ;
}
.btn.dark-btn{
  background: #212EA0;
  color: #fff;
}
/*--- media query ---*/
@media (max-width:1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
 
}
@media (max-width:850px){
  .btn{
    padding: 14px 18px;
  }
}